<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Easy Rest Api</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="style.css">
</head>
<body>
  <div id="root"></div>
  <script src="main.js" type="text/javascript"></script>

  <h1> Easy Rest Api</h1>

  <h2> A  simple Rest Api infrastructure for IOT applications</h2>

  <p>
    Everything you need to develop your Internet Of Things proyect, fast secure and simple!
  </p>

  <li>
    <ul>
      Arduino ESP8266 code for Api autentifications, requests, and posts
    </ul>
    <ul>
      Django Rest Framework back end
    </ul>
    <ul>
      web based GUI for autentification, administration and data visualizations
    </ul>
  </li>

</body>
</html>
